*.jar
*.zip
*.log
logs/
world/
world_nether/
world_the_end/
crash-reports/
.DS_Store
*.swp
*.swo
*~
.project
.classpath
*.iml
.idea/
out/
eula.txt
server.properties
ops.json
whitelist.json
banned-players.json
banned-ips.json
usercache.json
