[Unit]
Description=Raspberry Pi Minecraft Server
After=network.target

[Service]
Type=forking
User=pi
WorkingDirectory=/home/pi/pinecraft/server
ExecStart=/usr/bin/screen -DmS minecraft /usr/bin/java -Xms256M -Xmx2048M -jar /home/pi/pinecraft/server/server.jar --nogui
ExecStop=/usr/bin/screen -S minecraft -X stuff 'stop\n'
TimeoutStopSec=30
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
