[Unit]
Description=Raspberry Pi Minecraft Server
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/pinecraft/server
ExecStart=/usr/bin/java -Xms256M -Xmx2048M -jar /home/pi/pinecraft/server/server.jar --nogui
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
